.clearfix:after{
    content:'';
    display:table;
    clear:both;
}

body {
  padding: 0px;
  margin: 0px;
 /* background: url("/img/nerds-index3.jpg") no-repeat ; 
  background-size: 1200px auto;  */
  font-family: Roboto Medium;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  color: black;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */

.icon-up-dir::before { content: "\25b2";   } /* "▲" */
.icon-down-dir::before { content: "\25bc";   } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
 


h1 {
  padding: 0px;
  margin: 0px;
  font-family: Roboto Medium;
  font-size: 40px;
  line-height: Auto;
  font-style: normal;
  color: black;
}

h2 {
  padding: 0px;
  margin: 0px;
  font-family: Roboto Medium;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  color: black;
}

h3,
p,
nav,
ul,
img,
span,
figure,
div,
input,
section {
  padding: 0px;
  margin: 0px;
} 
a {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
} 
li {
  font-size: 0;
  margin: 0px;
  padding: 0px;
}

.main-header {
  background: #eeeeee;
  min-height: 435px;
  margin-bottom: 80px;
}

.container {
  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}

.nerds-logo {
  width: 140px;
  margin-top: 25px; 
  float: left;
}

.main-header-navigation {
  float: left;
  width: 400;
  margin-left: 180px;
  margin-top: 55px;
}

.main-header-navigation li {
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
  margin-right: 45px;  /*NOTE: судя по картинке они съезжают, использовать не margin? задать каждому размер?*/
}
.main-header-navigation li:nth-child(2) {
  margin-right: 40px;
}
.main-header-navigation li:nth-child(3) {
  margin-right: 40px;
}
.main-header-navigation li:last-child {
  margin-right: 0;
}

.main-header-navigation a:hover {
  color: #fb565a;  
}
.main-header-navigation a:active {
  color: #8f8f8f;  
}
.main-header-on-page {
 /* text-decoration: none; /* Убираем подчеркивание */
 /* border-bottom: 1px solid #fb565a ;*/
  text-decoration: underline;
  text-decoration-color: #fb565a;
  color: #000000;  
} 

.main-header-cart {
  font-size: 14px;
  line-height: 30px;
  float: right;
  width: 100px;
  margin-top: 55px;
  text-align: right;
}
.main-header-cart a:hover {
    color: #fb565a;  
}

.main-header-cart a:active {
    color: #8f8f8f;  
}
.main-header-cart-on {
  text-decoration: underline;
  text-decoration-color: #fb565a;
  color: #000000; 
}

.main-header-slider {
  width: 880px;
  min-height: 310px;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.slider-info {
  float: left;
  width: 480px;
  min-height: 200px;
  margin-top: 46px;
}

.slider-info div {
  font-family: Roboto Medium;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  color: black;  
}

.slider-info p {
  font-size: 16px;
  line-height: 22px;
  width: 470px;
  margin-top: 20px;
  margin-bottom: 27px;
}

.slider-image {
  width: auto;
  float: right;
}
.slider-design .slider-image {
  margin-top: 25px;
}

.slider-math .slider-image {
  margin-top: 30px;
  margin-right: 10px;
}

.slider-drugs .slider-image {
  margin-right: 7px;
  margin-top: 5px;
}

.learn-more-btn {
  font-size: 12px;
  line-height: 18px;
  color:white;
  text-align: center;
  padding: 10px 0;
  background: #fb565a; 
  display: inline-block;
  width: 240px;
}

.advantages {
  margin-bottom: 77px;
 /* background: red;*/
}

.advantages-item {
  font-size: 0px;
  float: left;
  width: 240px;
  min-height: 300px;
  margin-right: 80px;
}
.advantages-item:last-child {
  margin-right: 0;
}
.advantages-item img {
  margin-bottom: 10px;
}
.advantages-title {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  margin-bottom: 15px;
}

.advantages-item p {
  font-size: 15px;
  line-height: 22px;
  color: #283136;
  margin-bottom: 28px;
}

.advantages-apps-btn {
  font-size: 15px;
  line-height: 22px;
  color: white;
  text-align: center;
  padding: 8px 0;
  display: inline-block;
  background: #00ca74;
  width: 140px;
}
.advantages-apps-btn:hover {
  background:  #01a25e;
}
.advantages-apps-btn:active {
  background:  #009053;
  box-shadow: 0 -2px 0 0 #007b47;
}

.advantages-presentations-btn {
  font-size: 15px;
  line-height: 22px;
  color: white;
  text-align: center;
  padding: 8px 0;
  display: inline-block;
  background: #efc84a;
  width: 140px;
}

.advantages-presentations-btn:hover {
  background:  #d6ae2c;
}

.advantages-presentations-btn:active {
  background:  #c09b24;
  box-shadow: 0 -2px 0 0 #a3841f;
}

.advantages-web-btn {
  font-size: 15px;
  line-height: 22px;
  color: white;
  text-align: center;
  padding: 8px 0;
  display: inline-block;
  background: #fb565a;
  width: 140px;
}

.advantages-web-btn:hover { 
  background:  #d6494d;
}

.advantages-web-btn:active { 
  background:  #b63538;
  box-shadow: 0 -2px 0 0 #9b2d30;
  
}

.details {
  min-height: 472px;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
}

.details-left-column {
  float: left;
  width: 575px; 
  margin-top: 73px;
  color: #283136;
}

.details-right-column {
  width: 240px;
  float: right;
  margin-top: 60px;
}

.details-about-title {
  margin-bottom: 18px;
  color: black;
}

.details-about p {
  margin-bottom: 42px;
}

.details-list li:before {
  display: inline-block;
  width: 25px;
  height: 2px;
  vertical-align: middle;
  background: #fb565a;
  margin-right: 8px;
}


.details-list li {
  display: block;
  font-size: 16px;
  line-height: 22px;
  vertical-align: middle;
  padding: 11px 10px 10px  0px;
}

.details-list-title {
  margin-bottom: 15px;
}

.details-logo {
  margin-bottom: 64px;
}

.brands {
  font-size: 0px;
  min-height: 166px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 88px; 
}

.brands a{
  display: inline-block;
  width: auto;
  vertical-align: middle;
  margin: 46px 95px 0px 15px;
  opacity: 0.2 ;
}

.brands a:nth-child(2) {
  margin-right:  110px;
}
.brands a:last-child {
  margin-right: 0px;
}
.brands a:hover {
  opacity: 1 ;
}

.brands a:active {
  opacity: 1 ;
}
.map {
  position: relative;
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  min-height: 420px;
 /* background: url("/img/map3-1199-416.jpg") no-repeat;*/
  margin-bottom: 78px;

}

.map-block {
  position: absolute;
  left: 160px;
  top: 90px;
  float: left;
  width: 250px;
  min-height: 240px;
  background: white;
    
}

.map-title {
  font-size: 16px;
  line-height: 30px;
  font-style: normal;
  padding: 25px 0px 8px 20px;
  margin-bottom: 5px;
   
}
.map-block p {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #666666;
  padding: 0px 10px 0px 20px;
  margin-bottom: 20px;
  
}

.map-block a {
  font-size: 12px;
  line-height: 18px;
  color: white;
  text-align: center;
  padding: 11px  0 ;
  margin-left: 23px;
  margin-top: 8px;
  display: inline-block;
  background: #fb565a;
  width: 205px;
  
}
.footer-title {
  font-size: 36px;
  line-height: 36px;
  color: black;
  margin-bottom: 8px;
  
}

.footer-social {
  float: left;
  width: 243px;
  font-size: 0px; 
}

.footer-discount {
  float: left;
  width: 550px;
  margin-left: 80px;
}

 

.main-footer {
  margin-bottom: 80px;
}

.main-header-title {
  font-size: 40;
  line-height: normal;
  margin : 0 auto;
  text-align: center; 
  width: 648px;
  margin-top: 60px;
}

.catalog-left-column {
  float: left;
  width: 240px;
}


.catlog-right-column {
  float: right;
  width: 570px;
  margin-bottom: 80px;
}

.catalog-main-header { 
  width: auto;
  background: #eeeeee;
  min-height: 330px;
  margin-bottom: 74px;
}
.catalog-filters label {
  display: block;
}
.catalog-filters-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 15px;
}

.price-filter-box {
     
  background: #f1f1f1; 
  border-radius: 5px;
  width: 240px;
  height: 80px;
  margin-bottom: 12px;
}

.price-filter-scale {
  background: #00ca74;
  width: 119px;
  height: 2px;
  margin-right: -5px;
  margin-left: 1px;
  margin-top: 30px;
}

.price-filter-edge {
  background: #ffffff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  position: relative; 
  margin-right: -5px;
  margin-top: 30px;
  box-shadow: 0 2px 2px 0 #d0d0d0;
  
}
.price-filter-edge:first-child { 
  margin-left: 20px;
}

.price-filter-scale2 {
  background: #d7dcde;
  width: 40px;
  height: 2px;
  margin-left: 1px;
  margin-top: 30px;
}
.price-filter-box div {
  display:inline-block;
  vertical-align: middle;
  /*margin-top: 30px;*/
}

.price-filter label {
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
}
.price-filter input {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  width: 78px;
  height: 36px;
  background: #f1f1f1;
  border-radius: 5px;
  border: none;
  margin-left: 8px;
  margin-bottom: 45px;
}

.grid-filter input {
 /* margin-right: 12px;*/
  display: none;
}

.grid-filter input + label {
  /*font-size: 16px;
  line-height: 20px;
  margin-left: 5px;
  margin-bottom: 20px;*/
  display: block;
  color: #283136;
  margin: 20px 0;
  line-height: 20px;
  padding-left: 32px;
  position: relative;
  cursor: pointer;
}

.grid-filter input + label::before {
  content: "\25cb";
  color: #c1c1c1;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  font-size: 24px;
  font-family: "symbols-nerds";
}

.grid-filter input:checked + label::before {
  content: "\25cf"; 
  font-family: "symbols-nerds";
}
.grid-filter input + label:hover {
  color: #000000;
}
.grid-filter input + label:hover::before  {
  color: #b5b5b5;
}

.grid-filter input + label:disabled {
  color: #000000;
  opacity: 0.4;
}
.grid-filter input + label:disabled::before  {
  color: #b5b5b5;
  opacity: 0.3;
}

.price-filter-to {
  padding-left: 12px;
}

.features-filter-title {
  margin-top: 50px;
}

.features-filter input {
 /* margin-right: 10px;*/
  display: none;
}
.features-filter input + label {
 /* font-size: 16px;
  line-height: 20px;
  margin-left: 5px;
  margin-bottom: 20px;*/
  display: block;
  color: #283136;
  margin: 20px 0;
  line-height: 20px;
  padding-left: 32px;
  position: relative;
  cursor: pointer;
}

.features-filter input + label::before {
  content: "\2610"; 
  color: #c1c1c1;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  font-size: 24px;
  font-family: "symbols-nerds";
}
.features-filter input:checked + label::before {
  content: "\2611";
  font-family: "symbols-nerds";
}
.features-filter input + label:hover {
  color: #000000;
}
.features-filter input + label:hover::before  {
  color: #b5b5b5;
}

.features-filter input + label:disabled {
  color: #000000;
  opacity: 0.4;
}
.features-filter input + label:disabled::before  {
  color: #b5b5b5;
  opacity: 0.3;
}

.show-btn input{
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  margin: 0 auto;
  width: 154px;
  height: 38px;
  background: #f1f1f1;
  margin-top: 60px;
  border-radius: 5px;
}

 

.catalog-sort {
  font-size: 0px;
  line-height: 0px;
  padding: 5px 0px 0px 10px;
  margin-bottom: 20px;
}
.catalog-sort span {
  font-size: 12px;
  line-height: 18px;
  margin-right: 43px;
}

.catalog-sort-link {
  color: #b2b2b2;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  /*text-decoration: none; /* Убираем подчеркивание */
 /* border-bottom: 1px dotted #00ca74 ;*/
  text-decoration: underline;
  text-decoration-color: #00ca74;
  text-decoration-style: dotted;
  margin-right: 43px;
}

.catalog-sort-link:hover {
  color: #000000;
  text-decoration-style: solid;
}

.catalog-sort-link:active {
  color: #000000;
  text-decoration: none;
}
.catalog-sort-link-on {
  color: #000000;
  text-decoration: none;
}
 
.catalog-gallery {
  font-size: 0px;
  
}
/*.catalog-gallery:nth-child(2n) {
  margin-right: 0 ;
}*/

.product-item {
  position: relative;
  display: inline-block;
  font-size: 16px;
  background: #f1f1f1;
  width: 240px;
  height: 270px;
  margin-left: 10px;
  margin-bottom: 80px;
  border-radius: 5px;
}

/*.product-item:nth-child(2) {
  background: #797979;
}*/

.product-item img {
  margin-top: 30px;
}

.product-box {
  position: absolute;
  top: 50px;
  left: 20px;
   display: none; 
  padding: 30px 20px;
  text-align: center; 
  background: white;
  width: 160px;
  height: 140px;
}

.product-box-price {
  background-color: #fb565a;
  display: inline-block;
  width: 140px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  text-align: center;
  vertical-align:middle;
  padding: 10px 0px 0px 0px;
  margin-top: 30px;
 
}
.product-box-price:hover {
  background-color: #d6494d;  
}

.product-box-price:active {
  background-color: #b63538;  
  box-shadow: 0 -2px 0 #9b2d30;
}

.product-box-title {
  font-size: 18px;
   line-height: normal;
  margin-bottom: 20px;
}

.product-box-content {
  font-size: 14px;
  line-height: 18px;
  /*margin-bottom: 30px;*/
}
 .product-item:hover {
  background: #797979;
} 
.product-item:hover > .product-box {
    display: block;
    
}

.product-item:nth-child(2n+1) {
    margin-right: 70px;
}

.catalog-sheets-link {
  background-color: #f1f1f1;
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  width: 34px;
  border: 2px solid #f1f1f1;
  border-radius: 2px;
  text-align: center;
  padding: 6px 0;
  margin-right: 10px;
}
.catalog-sheets-link:hover {
  background-color: #e5e5e5;  
  border-color: #e5e5e5;  
}

.catalog-sheets-link:active {
  background-color: #d5d5d5; 
  border: 2px solid #d5d5d5; 
  box-shadow: 0 -2px 0 #b5b5b5;
}

.catalog-sheets-link:first-child {
  margin-left: 10px;
}

.catalog-on-page {
  background-color: white;
  border: 2px solid #f1f1f1;
  box-shadow: none;
}
.catalog-on-page:hover {
  background-color: white;
  border: 2px solid #f1f1f1;
  box-shadow: none;
}
.catalog-on-page:active {
  background-color: white;
  border: 2px solid #f1f1f1;
  box-shadow: none;
}

.catalog-sheets-link:last-child {
  width: 136px;
}
 
.catalog-sheets {
  font-size: 0px;
}

.social-btn {
  display: inline-block;
  font-size: 0px;
  vertical-align: top;
  width: 63px;
  height: 63px;
  background-color: #e1e1e1;
  border-radius: 50%;
  margin-right: 27px;
  color: white;
  text-align: center;
}

.social-btn:last-child {
  margin-right: 0px;
}

.social-btn:hover {
  background-color: #fb565a;
}

.social-btn:active {
  background-color: #d6494d;
  box-shadow: 0 -2px 1px 0 #b63e42;
}

.social-btn span {
  font-size: 23px;
  line-height: 63px;
}

.icon-basket {
  padding-right: 10px;
}

.product-item-decorate {
  position: absolute;
  font-size: 0px;
  top: 10px;
  left: 12px;
  width: 48px;
  height: 10px;
}

.product-item-circle {
  display: inline-block;  
  background: #ffffff;
  width: 10px;
  height: 10px;
  margin-right: 6px;
  border-radius: 50%;
}

.map-nerds-logo {
  position: absolute;
  top: 115px;
  right: 205px;
}

.catalog-sort-dir {
  font-size: 23px;
 /* line-height: 20px;*/
  display: inline-block;
  padding: 0px;
  width: 11px;
  text-align: center;
  float: right; 
  margin-right: 5px;
}

.catalog-sort-dir span {
  margin-right: 0px;
  font-size: 18px;
  width: 11px;
  text-align: center;
}

.icon-up-dir {
  color: #c1c1c1;
}

.icon-down-dir {
  color: #00ca74;
}

.icon-down-dir:active {
  color: #000000;
}
 .icon-up-dir:active {
  color: #000000;
}
.icon-dir-on {
  color: #00ca74;
}

.price-filter-point {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 9px;
  left: 9px;
  border-radius: 50%;
 /* color: #ababab;*/
  background-color:  #ababab;
  margin-top: 0px;
}

.show-btn input {
  border: none;
}

.show-btn input:hover {
  border: none;
  background-color: #e5e5e5;
}

.show-btn input:active {
  background-color: #d5d5d5;
  border: none;
  box-shadow: 0 -2px 0 #b5b5b5;
}

/*=====================================*/
.slider{
    position:relative;
    width:880px;
    height:310px;
    /*padding-top:50px;*/
    margin:0 auto;
    
    padding: 0 10px;
  
    margin-bottom: 80px;
}
.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}
.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slide-text{
    width:380px;
    padding:30px 0;
    color:#283136;
}
.slide-title{
    font-size:36px;
    line-height:1;
    font-weight:bold;
    color:black;
}
.slide .btn{
    display:block;
    width:240px;
    padding:10px 0;
    margin-top:25px;
    font-size:12px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}
.slide:nth-child(1){
    background-image:url("/img/slider-design-338-231.png");
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(2){
    background-image:url("/img/slider-math-230-249.png");
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url("/img/slider-drugs-333-319.png");
    background-repeat:no-repeat;
    background-position:100% 0;
}
.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}


.main-header-block {
  margin-bottom: 40px;
}
